.payment-container {
  padding: 40px;
}

.payment-box {
  background: #fff;
  padding: 30px;
  border-radius: 14px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.08);
  max-width: 450px;
}

.payment-option {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  cursor: pointer;
}

.upi-box input {
  width: 100%;
  padding: 10px;
  border: 1px solid #cdd6c2;
  border-radius: 8px;
}

.confirm-payment-btn {
  margin-top: 20px;
  width: 100%;
  padding: 14px;
  background: #4d6b2f;
  color: white;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  cursor: pointer;
}
