.success-container {
  padding: 60px;
  text-align: center;
}

.track-btn {
  margin-top: 20px;
  padding: 14px 28px;
  background: #4d6b2f;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
}
